#about {
  background-color: #fff;
      img.image-shadow {
        max-width: 240px;
        border-radius: 12px;
  }
}

.feature {
  padding: 15px;
}

@media screen and (min-width: 840px) {
  figure {
    margin-top: 100px;
  }
}


@media screen and (max-width:840px) {
  #about {
    img.image-shadow {
      max-width: 160px;
    }
  }
}
