html {
  scroll-behavior: smooth;
}

body {
  font-family: $main-font, $fallback-font;
  font-size: 100%;
}



figure {
  margin: 0;
}

@media screen and (min-width: 840px) {
  section:not(#hero) {
    padding: 40px 0;
  }
}


@media screen and (max-width: 840px) {
  section {
    padding: 20px 0 20px 0;
  }
}
