/*
ALIGNMENT HELPERS
*/
.d-flex-centered {
  display: flex;
  flex-direction: column;
  flex: 0 1 100px;
  align-items: center;
  justify-content: center;
}
.align-c {
  align-items: center;
}

.justify-c {
  justify-content: center;
}

.justify-evenly {
  justify-content: space-evenly;
}

/*
SIZE HELPERS
*/

.fullheight {
  min-height: 100vh;
}
.image-shadow {
  box-shadow: 0 0px 40px 10px rgba(197,203,213,0.6);

}
.img-fluid {
  max-width: 100%;
  height: auto;
}

.img-fluid-80 {
  max-width: 80%;
  height: auto;
}

.img-wrapper {
  padding: 15px;
}

@media screen and (max-width: 760) {
  .img-fluid-sm {
    max-width: 50%;
    height: auto;
  }
}

/*SPACE HELPERS*/

.padding {
  padding: 40px 0;
}

/* HIDERS */
@media screen and (max-width: 840px) {

.hide-md {
  display: none;
}
}
