
$gutter: 0.75em !default;

.container {
  margin: 0 auto;
  position: relative;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col {
  display: block;
  flex: 1 1 0;
  padding: 0.75em;
}

@for $i from 1 through 12 {
  .col-#{$i} {
    flex: 0 1 (100% / 12 * $i);
    max-width: (100% / 12 * $i);
    padding: 0.75em;
  }
}

@media screen and (min-width: 1088px) {
  .container {
    max-width: 960px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1152px;
  }
}

@media screen and (min-width: 1472px) {
  .container {
    max-width: 1344px;
  }
}

@media screen and (max-width: 1088px) {
  .container {
    padding: 0 15px;
  }
}

@media screen and (max-width: 840px) {

  @for $i from 1 through 12 {
    .col-#{$i}-md {
      flex: 0 1 (100% / 12 * $i);
      max-width: (100% / 12 * $i);
      padding: 0.75em;
    }
  }
}

@media screen and (max-width: 700px) {
  @for $i from 1 through 12 {
    .col-#{$i}-sm {
      flex: 0 1 (100% / 12 * $i);
      padding: 1.1em 0.75em;
    }
  }
}
