
ul {
  margin: 0;
  padding:0;
}

.navbar {
  display: flex;
  height: 5rem;
  align-items: center;
  li {
    list-style-type: none;
    padding: 0.5rem 0.75rem;
    a {
      text-decoration: none;
      color: rgba(10,10,10,0.9);
      font-size: 18px;
    }
  }
}

@media screen and (max-width: 840px) {
  .navbar {
    height: 4rem;
    img {
      width: 42px;
    }
  }
}

.mobile-menu {
  display: none;
}

.mobile-icon:after,
.mobile-icon:before,
.mobile-icon div {
  display: none;
  background-color: #2d497e;
  border-radius: 3px;
  content: '';
  height: 2px;
  width: 32px;
  margin: 7px 0;
  transition: all .2s ease-in-out;
}

.mobile-nav {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  background-color: rgba(45,73,126,0.98);

  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.5rem;
    margin: 6px 0;
    font-weight: 300;
  }
}

.active-toggle {
  display: flex;
}

span.close {
  position: absolute;
  font-size: 32px;
  font-weight: bold;
  color: white;
  right: 20%;
  top: 25%;
  cursor: pointer;
}

li.logo {
  margin-right: auto;
  font-weight: bold;
  img {
    width: 46px;
  }
}

li.logo > a {
  font-size: 2rem;
}

@media screen and (max-width: 840px) {

  .mobile-menu {
    display: block;
  }

  .nav-item {
    display: none;
  }

  .mobile-icon:after,
  .mobile-icon:before,
  .mobile-icon div {
    display: block;
    background-color: #2d497e;
    border-radius: 3px;
    content: '';
    display: block;
    height: 2px;
    width: 32px;
    margin: 7px 0;
    transition: all .2s ease-in-out;
  }

}
