<footer class="footer">
  <div class="container">
    <p class="text--c"><a class="footer__link" href="http://getgrav.org">This website</a>
      was coded with <img class="heart" src="{{ media['theme://images/heart.svg'].url() }}" alt=""> by <a class="footer__link" href="http://www.rockettheme.com">Thomas Szewczyk</a>.</p>
  </div>
</footer>
