<ul class="navbar">
  <li class="logo"><a href="{{ base_url == '' ? '/' : base_url }}"><img src="{{ url('theme://images/logo/logo.svg')  }}" alt="{{ site.name }}" /></a></li>
  <li class="mobile-icon"><div></div></li>
  <li class="nav-item"><a href="#about">Über mich</a></li>
  <li class="nav-item"><a href="#about">Projekte</a></li>
  <li class="nav-item"><a href="#contact" class="btn">Kontakt</a></li>
</ul>
</div>
<div class="container">
<div class="mobile-nav">
  <span class="close">x</span>
  <a class="mobile-item" href="#about">Über mich</a>
  <a class="mobile-item" href="#about">Projekte</a>
  <a class="mobile-item" href="#contact">Kontakt</a>
</div>
</div>
