  <nav class="menu">
    <div class="container">
      <ul class="d-flex menu__inner menu__inner--centered">
        <li class="menu__item menu__item--left"><a class="menu__link logo logo--size-l" href="#">{ts}</a></li>
        <li class="menu__item"><a class="menu__link" href="#">Über mich</a></li>
        <li class="menu__item"><a class="menu__link" href="#">Projekte</a></li>
      </ul>
    </div>
  </nav>
