h1 {
  font-size: 2em;
  margin: 0.67em 0;
  font-weight: 600; }

h1 > span {
  font-weight: 300;
  color: #293347; }

@media screen and (min-width: 840px) {
  h1 {
    font-size: 2.9rem; } }
@media screen and (max-width: 840px) {
  h1 {
    font-size: 1.6rem; } }
h2 {
  color: #496a9b80;
  font-weight: 500; }

p {
  font-size: 1em;
  font-weight: 400;
  letter-spacing: 1.1px;
  line-height: 1.5em; }

.subtitle, span.subtitle, span.subtitle > p {
  font-weight: 300;
  font-size: 1.25rem;
  letter-spacing: 1.1px;
  line-height: 1.5em; }

.icon-title {
  font-weight: 300;
  font-size: 1em;
  line-height: 1em; }

.text-c {
  text-align: center; }

.text-l {
  text-align: left; }

.text-r {
  text-align: right; }

@media screen and (max-width: 840px) {
  .text-c-md {
    text-align: center; }

  .text-l-md {
    text-align: left; }

  .text-r-md {
    text-align: right; } }
body {
  font-family: "Ubuntu", "Helvetica", sans-serif;
  font-size: 100%; }

figure {
  margin: 0; }

section:not(#hero) {
  padding: 60px 0; }

@media screen and (max-width: 840px) {
  section {
    padding: 50px 0; } }
.container {
  margin: 0 auto;
  position: relative; }

.row {
  display: flex;
  flex-wrap: wrap; }

.col {
  display: block;
  flex: 1 1 0;
  padding: 0.75em; }

.col-1 {
  flex: 0 1 8.3333333333%;
  max-width: 8.3333333333%;
  padding: 0.75em; }

.col-2 {
  flex: 0 1 16.6666666667%;
  max-width: 16.6666666667%;
  padding: 0.75em; }

.col-3 {
  flex: 0 1 25%;
  max-width: 25%;
  padding: 0.75em; }

.col-4 {
  flex: 0 1 33.3333333333%;
  max-width: 33.3333333333%;
  padding: 0.75em; }

.col-5 {
  flex: 0 1 41.6666666667%;
  max-width: 41.6666666667%;
  padding: 0.75em; }

.col-6 {
  flex: 0 1 50%;
  max-width: 50%;
  padding: 0.75em; }

.col-7 {
  flex: 0 1 58.3333333333%;
  max-width: 58.3333333333%;
  padding: 0.75em; }

.col-8 {
  flex: 0 1 66.6666666667%;
  max-width: 66.6666666667%;
  padding: 0.75em; }

.col-9 {
  flex: 0 1 75%;
  max-width: 75%;
  padding: 0.75em; }

.col-10 {
  flex: 0 1 83.3333333333%;
  max-width: 83.3333333333%;
  padding: 0.75em; }

.col-11 {
  flex: 0 1 91.6666666667%;
  max-width: 91.6666666667%;
  padding: 0.75em; }

.col-12 {
  flex: 0 1 100%;
  max-width: 100%;
  padding: 0.75em; }

@media screen and (min-width: 1088px) {
  .container {
    max-width: 960px; } }
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1144px; } }
@media screen and (max-width: 1088px) {
  .container {
    padding: 0 15px; } }
@media screen and (max-width: 840px) {
  .col-1-md {
    flex: 0 1 8.3333333333%;
    max-width: 8.3333333333%;
    padding: 0.75em; }

  .col-2-md {
    flex: 0 1 16.6666666667%;
    max-width: 16.6666666667%;
    padding: 0.75em; }

  .col-3-md {
    flex: 0 1 25%;
    max-width: 25%;
    padding: 0.75em; }

  .col-4-md {
    flex: 0 1 33.3333333333%;
    max-width: 33.3333333333%;
    padding: 0.75em; }

  .col-5-md {
    flex: 0 1 41.6666666667%;
    max-width: 41.6666666667%;
    padding: 0.75em; }

  .col-6-md {
    flex: 0 1 50%;
    max-width: 50%;
    padding: 0.75em; }

  .col-7-md {
    flex: 0 1 58.3333333333%;
    max-width: 58.3333333333%;
    padding: 0.75em; }

  .col-8-md {
    flex: 0 1 66.6666666667%;
    max-width: 66.6666666667%;
    padding: 0.75em; }

  .col-9-md {
    flex: 0 1 75%;
    max-width: 75%;
    padding: 0.75em; }

  .col-10-md {
    flex: 0 1 83.3333333333%;
    max-width: 83.3333333333%;
    padding: 0.75em; }

  .col-11-md {
    flex: 0 1 91.6666666667%;
    max-width: 91.6666666667%;
    padding: 0.75em; }

  .col-12-md {
    flex: 0 1 100%;
    max-width: 100%;
    padding: 0.75em; } }
@media screen and (max-width: 700px) {
  .col-1-sm {
    flex: 0 1 8.3333333333%;
    padding: 1.1em 0.75em; }

  .col-2-sm {
    flex: 0 1 16.6666666667%;
    padding: 1.1em 0.75em; }

  .col-3-sm {
    flex: 0 1 25%;
    padding: 1.1em 0.75em; }

  .col-4-sm {
    flex: 0 1 33.3333333333%;
    padding: 1.1em 0.75em; }

  .col-5-sm {
    flex: 0 1 41.6666666667%;
    padding: 1.1em 0.75em; }

  .col-6-sm {
    flex: 0 1 50%;
    padding: 1.1em 0.75em; }

  .col-7-sm {
    flex: 0 1 58.3333333333%;
    padding: 1.1em 0.75em; }

  .col-8-sm {
    flex: 0 1 66.6666666667%;
    padding: 1.1em 0.75em; }

  .col-9-sm {
    flex: 0 1 75%;
    padding: 1.1em 0.75em; }

  .col-10-sm {
    flex: 0 1 83.3333333333%;
    padding: 1.1em 0.75em; }

  .col-11-sm {
    flex: 0 1 91.6666666667%;
    padding: 1.1em 0.75em; }

  .col-12-sm {
    flex: 0 1 100%;
    padding: 1.1em 0.75em; } }
.content {
  padding: 0 30px; }

@media screen and (min-width: 1088px) {
  .content {
    padding: 0 50px; } }
@media (max-width: 840px) {
  .content {
    padding: 0; } }
.content-p {
  font-size: 16px;
  color: #59636c; }

.circle {
  position: absolute;
  animation-name: web-logos-animation;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
  right: 0;
  top: 35px;
  height: 100px;
  width: 100px;
  background-color: #2d497e;
  border-radius: 50%;
  background-image: url("../../images/web-logos.svg");
  background-repeat: no-repeat repeat;
  background-position-x: center;
  background-position-y: 10px; }

@keyframes web-logos-animation {
  0% {
    background-position: center 10px; }
  5% {
    background-position: center 82px; }
  35% {
    background-position: center 82px; }
  40% {
    background-position: center 175px; }
  68% {
    background-position: center 175px; }
  73% {
    background-position: center 270px; }
  100% {
    background-position: center 270px; } }
.info-box {
  position: relative;
  background-image: url("../../images/dash.png");
  background-repeat: repeat no-repeat;
  background-position: center;
  margin-left: 2%;
  margin-right: 2%; }

@media (max-width: 560px) {
  .info-box {
    margin-left: 2%;
    margin-right: 2%; } }
@media (min-width: 560px) {
  .info-box {
    margin-left: 12.5%;
    margin-right: 12.5%; } }
@media (min-width: 840px) {
  .info-box {
    margin-left: 2%;
    margin-right: 2%; } }
.info-box img {
  width: 250px; }

a.btn {
  padding: 0.5em 1.2em;
  background-color: white;
  border-radius: 25px;
  border: 2px solid #2d497e;
  text-decoration: none;
  color: #2d497e !important;
  transition: all 0.2s ease; }
  a.btn:hover {
    background-color: #2d497e;
    color: white !important; }

/*
ALIGNMENT HELPERS
*/
.d-flex-centered {
  display: flex;
  flex-direction: column;
  flex: 0 1 100px;
  align-items: center;
  justify-content: center; }

.align-c {
  align-items: center; }

.justify-c {
  justify-content: center; }

.justify-evenly {
  justify-content: space-evenly; }

/*
SIZE HELPERS
*/
.fullheight {
  min-height: 100vh; }

.image-shadow {
  box-shadow: 0 5px 5px 0 rgba(233, 240, 243, 0.5), 0 0 0 1px #E6ECF8; }

.img-fluid {
  max-width: 100%;
  height: auto; }

.img-fluid-80 {
  max-width: 80%;
  height: auto; }

.img-wrapper {
  padding: 15px; }

@media screen and (max-width: 760) {
  .img-fluid-sm {
    max-width: 50%;
    height: auto; } }
/*SPACE HELPERS*/
.padding {
  padding: 40px 0; }

@media screen and (max width: 840px) {
  .padding {
    padding: 20px 0; } }
/* HIDERS */
@media screen and (max-width: 840px) {
  .hide-md {
    display: none; } }
ul {
  margin: 0;
  padding: 0; }

.navbar {
  display: flex;
  height: 5rem;
  align-items: center; }
  .navbar li {
    list-style-type: none;
    padding: 0.5rem 0.75rem; }
    .navbar li a {
      text-decoration: none;
      color: rgba(10, 10, 10, 0.9);
      font-size: 18px; }

@media screen and (max-width: 840px) {
  .navbar {
    height: 4rem; }
    .navbar img {
      width: 42px; } }
.mobile-menu {
  display: none; }

.mobile-icon:after,
.mobile-icon:before,
.mobile-icon div {
  display: none;
  background-color: #2d497e;
  border-radius: 3px;
  content: '';
  height: 2px;
  width: 32px;
  margin: 7px 0;
  transition: all .2s ease-in-out; }

.mobile-nav {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  background-color: rgba(45, 73, 126, 0.98);
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .mobile-nav a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.5rem;
    margin: 6px 0;
    font-weight: 300; }

.active-toggle {
  display: flex; }

span.close {
  position: absolute;
  font-size: 32px;
  font-weight: bold;
  color: white;
  right: 20%;
  top: 25%;
  cursor: pointer; }

li.logo {
  margin-right: auto;
  font-weight: bold; }
  li.logo img {
    width: 46px; }

li.logo > a {
  font-size: 2rem; }

@media screen and (max-width: 840px) {
  .mobile-menu {
    display: block; }

  .nav-item {
    display: none; }

  .mobile-icon:after,
  .mobile-icon:before,
  .mobile-icon div {
    display: block;
    background-color: #2d497e;
    border-radius: 3px;
    content: '';
    display: block;
    height: 2px;
    width: 32px;
    margin: 7px 0;
    transition: all .2s ease-in-out; } }
h1 {
  color: #2d497e; }

#hero {
  background-color: #F5F7FA; }

.img-wrapper p {
  transition: all 0.2s ease-in-out; }

#webtechnologien {
  background-color: #fff; }

@media screen and (min-width: 960px) {
  .img-wrapper:hover > p.icon-title.text-c {
    margin-top: 10px; } }
#about {
  background-color: #fff; }
  #about img.image-shadow {
    max-width: 240px;
    border-radius: 12px; }

.feature {
  padding: 15px; }

@media screen and (min-width: 840px) {
  figure {
    margin-top: 100px; } }
@media screen and (max-width: 840px) {
  #about img.image-shadow {
    max-width: 160px; } }

/*# sourceMappingURL=theme.css.map */
