<section id="about" class="section">
  <div class="container">
    <div class="about d-flex d-flex--centered text--c-md">
      <div class="column column--12-md hide--tablet d-flex d-flex--centered">
          <img class="image--fluid-medium" src="{{ page.media['infographic.svg'].url }}" alt="">
      </div>
      <div class="column column--12-md">
        <div class="about__text">
          <h2 class="title-h2">Moderne <span class="title-h2--dark">Webstandards</span></h2>
          <p class="text">Mit gebündelter Kraft der neusten Webstandards und -technologien, entwickle ich Internetseiten, die ein einzigartiges Erlebnis für Ihre Besucher
            bieten. Die Websites werden auf Ihre gewünschte Zielgruppe angepasst und vermitteln eine wirkungsvolle Botschaft.</p>
            <a class="link-with-arrow" href="#">Jetzt zusammenarbeiten <img class="link-with-arrow arrow"src="{{ page.media['arrow.svg'].url }}" alt=""></a>
        </div>
      </div>
    </div>
  </div>
</section>
