<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-6 hide-md">
        <img src="{{ page.media['about.png'].url }}" alt="">
      </div>
      <div class="col-6 col-12-md text-l text-c-md">
        {{ content|raw }}
      </div>
    </div>
  </div>
</section>
