<section id="features" class="features section">
  <div class="container">
    <div class="flexbox flexbox--centered">
      <div class="feature">
        <div class="feature__icon">
          <img src="{{ page.media['icon-customize.svg'].url }}" alt="">
        </div>
        <div class="feature__text">
          <h2>Individuel</h2>
          <p>Die Internetseiten werden auf Sie und Ihre Marke zugeschnitten. Jeder Schritt im Entwicklungsprozess folgt dem Ziel ein Endprodukt zu entwickeln, das Ihren Anforderungen entspricht.</p>
        </div>
      </div>
      <div class="feature">
        <div class="feature__icon">
            <img src="{{ page.media['icon-ux.svg'].url }}" alt="">
        </div>
        <div class="feature__text">
          <h2>Nutzerorientiert</h2>
          <p>Die zukünftigen Nutzer werden bei der Entwicklung immer berücksichtigt, um ein einzigartiges Erlebnis zu bieten. Jedes Element auf der Seite, wird mit den modernsten Design Standards gestaltet.</p>
        </div>
      </div>
      <div class="feature">
        <div class="feature__icon">
<img src="{{ page.media['icon-customize.svg'].url }}" alt="">
        </div>
        <div class="feature__text">
          <h2>Feature 3</h2>
          <p>Our site are tailored to your brand your vision.
            Every step of the process is built around ensuring you end up with a final product perfectly crafted for your needs.</p>
        </div>
      </div>
    </div>

  </div>
</section>
