<section id="home" class="section section--is-hero">
  <div class="container">
      <div class="hero hero--centered text--c-md">
        <div class="column column--12-md">
            <h1 class="title">Konzept. Webdesign. Programmierung.</h1>
            <p class="subtitle subtitle--spaced">Ich entwickle Ihre neue Internetseite</p>
            <a class="button button--blue button--rounded" href="#">Kontakt <i class="button__arrow button__arrow--right"></i> </a>
        </div>
        <div class="column column--12-md">
            <img class="image image--fluid"src="{{ page.media['hero.png'].url }}" alt="Hero Image">
        </div>
      </div>
    </div>
</section>
