<section id="home" class="section">
  <div class="container">
      <div class="hero hero--centered text--c-md">
        <div class="column column--12-md">
            <h1 class="title"><span class="title--thin">Thomas Szewczyk</span> Webentwickler</h1>
            <p class="subtitle subtitle--spaced">Ideen werden Realität. Ich entwickle <span class="subtitle--lead">Ihre neue Internetseite</span></p>
            <a class="button button--rounded" href="#">Kontakt <i class="button__arrow button__arrow--right"></i> </a>
        </div>
        <div class="column column--12-md">
            <img class="image image--fluid"src="{{ page.media['hero.svg'].url }}" alt="Hero Image">
        </div>
      </div>
    </div>
</section>
