<section id="hero">
  <div class="container">
    <div class="row fullheight align-c">
      <div class="col col-12-md">
        <div class="hero-text text-l text-c-md">
          <h1><span>Thomas Szewczyk</span><br>Front-End Developer</h1>
          <p class="subtitle">{{ content|raw }}</p>
        </div>
      </div>
      <div class="col-6 col-12-md">
          <img class="img-fluid" src="{{ page.media['hero.svg'].url }}" alt="Laptop Illustration">
      </div>
    </div>
  </div>
</section>
