<section id="home" class="section">
  <div class="container">
      <div class="hero hero--centered text--c-md">
        <div class="column column--12-md">
            <h1 class="title"><span class="title--thin">Ideen werden</span> Realität</h1>
            <p class="subtitle subtitle--spaced">Ich entwickle Ihre neue Internetseite</p>
            <a class="button button--rounded" href="#">Kontakt <i class="button__arrow button__arrow--right"></i> </a>
        </div>
        <div class="column column--12-md">
            <img class="image image--fluid"src="{{ page.media['hero.svg'].url }}" alt="Hero Image">
        </div>
      </div>
    </div>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none">
    <polygon fill="white" points="0,100 100,0 100,100"/>
  </svg>
</section>
