<section id="portfolio" class="section">
  <div class="container">
    <h2 class="title-h2 title-h2--spaced title-h2--c title-h2--dark">Portfolio</h2>
    <div class="d-flex">
      <div class="column column--12-md">
        <div class="project">
          <div class="project__overlay">
            <a href="#">Zur Website</a>
          </div>
        </div>
      </div>
      <div class="column column--12-md">
        <div class="project">
          <div class="project__overlay">
            <a href="#">Zur Website</a>
          </div>
        </div>
      </div>
      <div class="column column--12-md">
        <div class="project">
          <div class="project__overlay">
            <a href="#">Zur Website</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
