<section id="projects">
  <div class="container">
    <div class="row text-c">
      <div class="col">
        <h1><span>Aktuelle</span> Projekte</h1>
        <h2><span class="subtitle">Überzeugen Sie sich selbst</span></h2>
      </div>
    </div>
    <div class="row text-c my-projects">
      <div class="col col-12-md">
          <div class="project" style="background-image:url('{{page.media['project-1.jpg'].url}}');background-size:cover;">
            <div class="overlay">
              <a href="#">Zur Website</a>
            </div>
          </div>
        </div>
        <div class="col col-12-md">
            <div class="project" style="background-image:url('{{page.media['project-2.jpg'].url}}');background-size:cover;">
              <div class="overlay">
                <a href="#">Zur Website</a>
              </div>
            </div>
          </div>
          <div class="col col-12-md">
              <div class="project" style="background-image:url('{{page.media['project-3.jpg'].url}}');background-size:cover;">
                <div class="overlay">
                  <a href="#">Zur Website</a>
                </div>
              </div>
            </div>
      </div>
    </div>
</section>
