<section id="webtechnologien">
  <div class="container">
    <div class="row text-c align-c">
      <div class="col col-12-md">
      <h1><span>Moderne</span> <wbr>Webtechnologien</h1>
      <h2 class="subtitle text-c">Die neusten Webstandards und Technologien.</h2>
      </div>
    </div>
    <div class="row align-c justify-evenly padding">
      {% for technology in page.header.technologies  %}
      <div class="d-flex-centered img-wrapper">
        <img class="img-fluid-80 img-fluid-sm" src="{{ page.url }}/{{ technology.image}}" alt="">
        <p class="icon-title text-c">{{ technology.title }}</p>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
