
<section id="technologies" class="section">
  <div class="container">
    <h2 class="title-h2 title-h2--c title-h2--spaced">Webtechnologien</h2>
    <div class="d-flex">
      {% for technology in page.header.technologies  %}
      <div class="column d-flex d-flex--centered">
        <div class="feature">
          <div class="feature__icon">
            <img class="image--fluid" src="{{ page.url }}/{{ technology.image}}" alt="">
          </div>
          <div class="feature__text">
            <p>{{ technology.title }}</p>
          </div>
        </div>
      </div>
      {% endfor %}    
    </div>
  </div>
</section>
