.button {
  padding: 0.55em 1.3em;
  background-color: $blue;
  border-radius: 6px;
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  box-shadow: 2px 3px 10px 0 rgba(0,0,0,0.3);

 @at-root #{&}--rounded {
    border-radius: 24px;
  }

@at-root #{&}__arrow {
    position: relative;
    bottom: 2px;
    left: 6px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    transition: left 0.1s ease-in;

  @at-root #{&}--right {
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
    }
  }
}

.button:hover .button__arrow {
  left: 12px;
}
