#home {
  position: relative;
  background: #fff;
}

.d-flex {
  display: flex;
  flex-wrap: wrap;

  @at-root #{&}--centered {
    align-items: center;
    justify-content: center;
}
@at-root #{&}--space-evenly {
  justify-content: space-evenly;
}

}
@media screen and (max-width: 840px) {
  .hide--tablet {
    display: none;
  }
}

@media screen and (max-width: 744px) {
  .hide--mobile {
    display: none;
  }
}
