.image {

  @at-root #{&}--fluid {
    max-width: 100%;
    @at-root #{&}-medium {
      max-width: 70%;
    }
  }

  @at-root #{&}--rounded {
    border-radius: 100%;
    max-width: 20rem;
    width: 100%;
    min-width: 20rem;
  }

}

@media screen and (max-width: 840px) {
  .hero .image--fluid {
    margin-top: 1.5rem;
  }
}
