.section {
  padding: 2rem 0;
  background-color:#fff;
}

.section--is-hero {
  padding-bottom: 0;
}
.section--purple {
  background-color: $purple;
  color: #fff;
}

@media screen and (min-width: 1088px) {
  .section {
    padding: 6rem 0;
  }
  .section--is-hero {
    padding-bottom: 0;
  }
}
