body {
  font-family: $font-stack;
  color: $standard;
  line-height: 1.4;
  letter-spacing: 0.08em;
}

.title {
  font-size: 2rem;
  color: #fff;
  text-transform: uppercase;
  line-height: 1.2;

  @at-root #{&}--thin {
    font-weight: 300;
  }

  @at-root #{&}-h2 {
    margin-top: 0;
    font-size: 1.6rem;
    color: $blue;
    text-transform: uppercase;
    @at-root #{&}--spaced {
      margin-bottom: 3rem;
    }

    @at-root #{&}--dark {
      color: $primary;
    }

    @at-root #{&}--c {
      text-align: center;
    }
  }
}

@media screen and (min-width: 840px) {
  .title {
    font-size: 3rem;
    @at-root #{&}-h2 {
      font-size: 2.5rem;
    }
  }


}

.subtitle {
  font-size: 1.5rem;
  font-weight: 300;

  @at-root #{&}--spaced {
  margin-bottom: 3rem;
  }

  @at-root #{&}--lead {
    font-weight: 600;
  }
}


.text {
  font-family: "Ubuntu", "Verdana", "Helvetica", sans-serif;
  font-size: 1.1rem;
  color: #46515a;
}
.text--blue {
  color: $blue;
  font-weight: 500;
}

.text--small {
  font-size: $small;
}

.text--c {
  text-align: center;
}

@media screen and (max-width: 840px) {
  .text--c-md {
    text-align: center;
  }
}
