/* Typography Variables */

$font-stack: "Ubuntu", "Helvetica", "Arial", sans-serif;

$small: 0.9rem;

/* Colors */

$primary: #141c3a;
$secondary: #292929;
$blue: #2d497e;

$grey-bg: #F5F7FA;
$dark-bg: #01122e;
