/* Typography Variables */

$font-stack: "Nunito Sans", "Helvetica", "Arial", sans-serif;

$small: 0.9rem;

/* Colors */

$standard: #182D4E;
$primary: #182D4E;
$secondary: #292929;
$purple: #5D67DA;
$blue: #006ee5;

$grey-bg: #F5F7FA;
$dark-bg: #01122e;
$gradient-bg: linear-gradient(90deg, #E4EAF3, #fff);
$purple-gradient: linear-gradient(45deg, #5D67DA, #7D86F3);
$blue-gradient:linear-gradient(45deg, #74A5F8, #A3C0EE);
