/* Typography Variables */

$font-stack: "Ubuntu", "Helvetica", "Arial", sans-serif;

$small: 0.9rem;

/* Colors */

$standard: #141c3a;
$primary: #141c3a;
$secondary: #292929;
$blue: #006ee5;

$grey-bg: #F5F7FA;
$dark-bg: #01122e;
$gradient-bg: linear-gradient(90deg, #E4EAF3, #fff);
$blue-gradient: linear-gradient(45deg, #2F6FF2, #264DA3);
